// Заголовки, общие БЄМ блоки и проче...
.title {
	position: relative;
	//font-family: var(--font-family);
	display: inline-flex;
	font-weight: 600;
	@include adaptiveValue("font-size", 52, 30,1600,768,1);
	color: #000;
	&::after{
		content:'';
		position: absolute;
		bottom: 0;
		left: 100%;
		border-radius: 0px 5px 5px 0px;
		width: 100px;
		//min-width: 30px;
		height: 8px;
		background: #004dc0;
		margin-left: 10px;
		@media (max-width:$mobile){
			 width: 60px; 
		}
		@media (max-width:$mobileSmall){
			 //width: 45px; 
			 display: none;
		}
	}
}

.button {
	padding: 20px 30px;
	min-width: 208px;
		box-shadow: 0px 10px 20px 0px rgba(0, 160, 227, 0.3);
		background: linear-gradient(180deg, #00a0e3 0%, #004dc0 100%);
		font-weight: 600;
		font-size: 16px;
		color: #fff;
		border-radius: 35px;
		@media (max-width:$mobile){
			 padding: 12px 20px;
			 font-size: 12px; 
		}
}