//====================================================================================================
.header {
	background: url('@img/header/Frame 3.jpg') 0 0 / cover no-repeat;
	&__container {
	}

	&__top {
		display: flex;
		align-items: center;
		padding: 20px 0px 40px 0;
		@media (max-width: em(1300)){
			 justify-content: space-between; 
		}
		@media (max-width:$mobile){
			 flex-direction: column;
			 row-gap: 20px;
			 position: relative;
			 z-index: 7;
		}
	}

	&__logotip {
		flex: 1 0 auto;
		@media (max-width: em(1300)){
			 flex:0 0 20%;
		}
	}

	&__logo {
		display: block;
		width: 54.5%;
		//padding-bottom: percent(89,1097);
		img {
			max-width: 100%;
			height: auto;
			object-fit: cover;
		}
		@media (max-width: em(1300)){
			 width: 100%; 
		}
		@media (max-width: em(470)){
			width: 240px;
			//text-align: center;
			margin: 0 auto;
		}
	}

	&__actions {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include adaptiveValue("gap", 100, 20,1600,768,1);
		@media (max-width: em(470)){
			 flex-wrap: wrap; 
		}
	}

	&__bottom {
	}

	&__menu {
	}
}
.actions-header {

	&__phone {
		display: flex;
		align-items: center;
		column-gap: 14px;
	}

	&__img {
	}

	&__tel {
		display: flex;
		flex-direction: column;
		row-gap: 5px;
		@media (max-width:$tablet){
			display: none;
		}
	}

	&__text {
		color: #000;
		&_gray {
			font-weight: 600;
			font-size: 12px;
			color: #959595;
		}
	}

	&__link-tel {
		font-weight: 700;
		font-size: 20px;
		color: #026ab6;
		transition: color 0.3s;
		&:hover{
			color: #00a0e3;
		}
	}

	&__social {
		display: flex;
		column-gap: 10px;
	}

	&__socitem {
		@media (max-width:$tablet){
			width: 30px;
			height: 30px;
			img {
				max-width: 100%;
				height: auto;
			}
		}
	}

	&__button {
		@media (max-width: em(470)){
			flex: 1 0 100%;
			text-align: center;
		}
	}

	&__btn {
		
	}
}
.menu {

	&__icon {
	}

	&__body {
		@media (max-width: $mobile) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: -100%;
			overflow: auto;
			background-color: #fff;
			padding: rem(250) rem(15) rem(50) rem(15);
			transition: left 0.3s ease 0s;
			z-index: 4;
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: 208px;
				left: -100%;
				top: 0;
				background-color: #fff;
				background: url('@img/header/Frame 3.jpg') 0 0 / cover no-repeat;
				z-index: 1;
				@media (max-width: em(471)){
					  height: 221.5px;
				}
			}
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
   	column-gap: 20px;
		@media (max-width:em(930)){
			justify-content: center;
		}
		@media (max-width:$mobile){
			 flex-direction: column;
			 justify-content: center;
			 //row-gap: 30px; 
		}
	}

	&__item {
		display: flex;
		align-items: center;
		padding: 20px 0px;
		column-gap: 5px;
		position: relative;
		ul {
			position: absolute;
			width: max-content;
			padding: 20px 10px;
			background-color: #fff;
			top: 120%;
			transition: top 0.3s;
			visibility: hidden;
			opacity: 0;
			border: 1px solid #00a0e3;
			@media (max-width:$mobile){
				 position: relative;
				 width: 100%;
				 display: none;
			}
			li {
				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
			@media (max-width:$mobile){
				&._open {
					display: block;
				 } 
			}
		}
		img {
			transition: transform 0.3s;
		}
		&:hover{
			ul {
				top: 100%;
				opacity: 1;
				visibility: visible;
				@media (max-width:$mobile){
					 //display: block;
				}
			}
			img {
				transform: rotate(180deg);
			}
		}
		@media (max-width:$mobile){
			 justify-content: center;
			 flex-direction: column;
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		@media (max-width:$mobile){
			 //width: 100%;
			 //flex-wrap: wrap; 
		}
	}

	&__link {
		font-weight: 600;
		font-size: 18px;
		transition: color 0.3s;
		&:hover{
			color: #00a0e3;
		}
		@media (max-width:$mobile){
			 font-size: 22px; 
		}
	}
}
.icon-menu {
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		position: absolute;
		top: 20px;
		left: 10px;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 8;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

